* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2,
button {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 2rem;
    line-height: 38px;
    font-weight: 700;
}

button {
    font-size: 1rem;
    color: var(--branco);
    background-color: var(--vermelho-claro);
    cursor: pointer;
}

p,
input,
label {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--cinza-claro);
    line-height: 24px;
}

li {
    list-style-type: none;
    list-style: none;
}